<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Seminuevos Haro</title>
    <link href="css/responsive.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="images/haro.png" alt="" width="100" height="50" style="margin: -15px 0px 0px 0px;"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="/nosotros">Nosotros</a></li>
                  <li class="active"><a href="/contacto">Contacto</a></li>
                  <li><a href="/ubicacion">Ubicacion</a></li>
                  <li><a href="/galeria">Galeria</a></li>

                <li>
                <form action="/api/search" class="navigationbar">
                  <input type="text" placeholder="Search.." name="search" style="color: black" id="search-input">
                  <button type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#searchModal" id="search-btn">
                    <i class="fa fa-search" style="color: black"></i>
                  </button>
                </form>
              </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <div class="container">
      <br><br><br><br><br><br><br><br>
      <div class="row">
        <div class="col-lg-4 mb-1"></div>
          <center>
            <h2 style="text-shadow: 3px 3px black; color: white;">NECESITAS MAS INFORMACIÓN? CONTACTANOS.</h2>
          </center>
        </div>
      <div class="row">
        <center>
          <h4 style="text-shadow: 2px 2px black; color: white;">Contactanos via telefonica o por email, visitanos en Av. de las Américas 2187, Altamira, 45160 Zapopan, Jal.</h4>
        </center>
      </div><br><br>
      <div class="container marketing">

        <div class="row">
          <div class="col-lg-4">
            <center>
            <img id="call" class="img-circle" src="images/telefono.jpg" alt="Generic placeholder image" width="150" height="150">
            <li>&nbsp</li>
            <li>Contactanos</li>
            <li>via</li>
            <li>telefonica</li>
            <li>&nbsp</li>
            <li><button id="call2" class="btn btn-primary">33 3636 8423</button></li>
            <br>
          </center>
          </div>
          <div class="col-lg-4">
            <center>
            <img onclick="location.href='https://www.google.com.mx/maps/place/Seminuevos+Haro/@20.6822763,-103.3500269,13z/data=!4m8!1m2!2m1!1sseminuevos+haro!3m4!1s0x0:0x1963cbfa3606058a!8m2!3d20.7128776!4d-103.3829248';" class="img-circle" src="images/ubicacion.jpg" alt="Generic placeholder image" width="150" height="150">
            <li>&nbsp</li>
            <li>Estamos ubicados</li>
            <li>Av. de las Américas</li>
            <li>2187, Altamira, 45160</li>
            <li>Zapopan, Jal.</li>
            <li><input class="btn btn-primary" type="button" onclick="location.href='https://www.google.com.mx/maps/place/Seminuevos+Haro/@20.6822763,-103.3500269,13z/data=!4m8!1m2!2m1!1sseminuevos+haro!3m4!1s0x0:0x1963cbfa3606058a!8m2!3d20.7128776!4d-103.3829248';" value="Abrir Ubicacion" /></li>
            <br>
          </center>
          </div>
          <div class="col-lg-4">
            <center>
            <img class="img-circle" src="images/email.jpg" alt="Generic placeholder image" width="150" height="150">
            <li>&nbsp</li>
            <li>Envianos un</li>
            <li>correo a </li>
            <li>correo@hotmail.com</li>
            <li>&nbsp</li>
            <li><button class="btn btn-primary"><a class="mailto" href="mailto:contact@test.com&subject=Dudas%20Haro%20Seminuevos&body=Saludos,%20tengo%20una%20duda%20referente%20a" style="color: white">Enviar Email</a></button></li>
            <br>
          </center>
          </div>
        </div>
      </div>
    </div><!--end container -->
    <!-- The modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabelSmall">Modal Title</h4>
          </div>

          <div class="modal-body" id="modal-body">
            <img src="/images/loaader.gif" style="width: 100%;">
          </div>

        </div>
      </div>
    </div>
    <!-- The modal -->
    <script src="js/search.js"></script>
  </body>
</html>
<script>
    $("#call").on('click', function() {
        var link = "tel:33 3636 8423";
        window.location.href = link;
    });
</script>
<script>
    $("#call2").on('click', function() {
        var link = "tel:33 3636 8423";
        window.location.href = link;
    });
</script>
<style>
body{
  background-image: url("images/semi.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
li{
  text-shadow: 1px 1px black;
  color: white;
  list-style:none;
}
img:hover {
	animation: bounce 1s;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/*ipad responsive*/
@media (min-width: 768px) and (max-width: 1024px){
  body{
    height: 1700px;
  }
}
</style>
